 @font-face {
    font-family: Ubuntu;
    src: url(fonts/3969.ttf);
    src: local(ubuntu), url(fonts/3969.ttf);
	}


html{
	margin: 0;
	//background-image: url(img/site.png);
	//opacity: 0.2;
}



body{
	padding: 0;
	margin: 0;
	font-family: ubuntu;
	background-image: url(img/main_bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	/*background-position: center;*/
	background-attachment: fixed;
	background-color: #020202;
	color:#ffffff;
}
header, main{
	max-width: 1033px;
	width: 95%;
	margin-right: auto;
	margin-left: auto;

}
main{
	margin-bottom: 150px;
	margin-top: 46px;
}
nav{
	position: relative;
}
.logo-wrapper{
	display: flex;
	position: relative;
	justify-content: space-between;
	margin-bottom: 81px;
	margin-top: 118px
}
.logo, .item{
	text-transform: uppercase;
	font-weight: bold;
	
}
.logo {
	font-size: 20px;
}
.logo span{
	color: #e7353d;
}
.lang{
	text-decoration: none;
	color: #ffffff;
	display: block;
	height: 28px;
	width: 28px;
	border: 1px solid #ffffff;
	text-align: center;
	line-height: 28px;
	display: none;
}
.lang-active{
	display: block;
}
/* выпадающее меню*/
.mobile{
	//position: fixed;
	//border: 1px solid white;
}
.mobile-menu{
	width: 200px;
	top:-15px;
	height: 600px;
	list-style: none;
	display: none;
	position: fixed;
	right: 0px;
	z-index: 2;
	background-color: #020202;
}
.mobile-menu li{
	margin-top: 20px;
}
.menu-hamburger{
	z-index: 4;
	display: none;
	width: 35px;
	height: 30px;
	position: absolute;
	right: -3px;
	top: -70px;
	cursor: pointer;
}

.menu-hamburger span {
	display: block;
	position: absolute;
	height: 4px;
	width: 100%;
	background: #ffffff;
	opacity: 1;
	left: 0;
	transform: rotate(0deg);
	transition: .25s ease-in-out;
}
.menu-hamburger span:nth-child(1) {
  top: 0px;
}

.menu-hamburger span:nth-child(2), .menu-hamburger span:nth-child(3) {
  top: 10px;
}

.menu-hamburger span:nth-child(4) {
  top: 20px;
 }
.menu-open span:nth-child(1), .menu-open span:nth-child(4){
  display: none;
}

.menu-open span:nth-child(2) {
  transform: rotate(45deg);
}

.menu-open span:nth-child(3) {
  transform: rotate(-45deg);
}
/* -------- */
.menu{
	margin-right: auto;
	margin-left: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
}

.menu li{
	margin-right: 51px;
}
.menu li:last-child{
	margin-right: 0;
}
.menu a:before{
	content: "";
	display: block;
	position: absolute;
	width: 8px;
	height: 8px;
	border: 2px solid #e7353d;
	left:-14px;
	top: 2px;

}
.menu-item a{
	text-transform: uppercase;
	position: relative;
	text-decoration: none;
	font-size: 14px;
	color: #a7a7a7;
}
.menu-item:hover{
	text-decoration: underline;
}
.menu-active a{
	font-weight: bold;
	color: #ffffff;
}
.menu-active a:before{
	background-color: #e7353d;
}
.squares{
	display: inline-block;
	width: 8px;
	height: 8px;
	border: 2px solid #e7353d;
}
.item .name{
	font-size: 28px;
}
.img-container{
	width: 100%;
	height: 100%;
	position: relative;
	text-align: center;
	overflow: hidden;

}
.img-container img{
	width: 110%;
	height: auto;
	transform: translateY(-50%);
	top: 50%; 
	position: absolute;
	display: block;
	margin: auto auto;
}
.content{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.item{
	width: 343px;
	height: 242px;
	background-color: #DCDAE0;
	position: relative;
	margin-top: 39px;
}
.item:nth-child(3){
}
 .name{
	z-index: 1;
	position: absolute;
	top:-24px;
}
.learn-more{
	text-decoration: none;
	color: #ffffff;
	font-size: 14px;
	text-align: center;
	vertical-align: middle;
	line-height: 242px;
	display: block;
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(75,75,75, 0.6);
	transition-property: opacity;
	transition-duration: 0.6s;
	z-index: 2;
	opacity: 0;
}
.learn-more:after{
	display: inline-block;
	width: 0;
	height: 0;
	content: "";
	border: 8px solid #ffffff;
	border-right-width: 0px;
	border-top-color: transparent;
	border-bottom-color: transparent;
	margin-left: 7px;
	margin-bottom: -2px;
}
.item:hover .learn-more{
	z-index: 2;
	opacity: 1;
}
@media all and (max-width: 1080px){
	.mobile-menu{
		display: none;
	}

}
@media all and (max-width: 1080px){
	.logo-wrapper{
		margin-top: 60px;
	}
	.menu{
	 	position: absolute;
	 	width: 300px;
	 	right: 0px;
	 	top:20px;
	}
	.menu{
		display: none;
	}
	.menu-hamburger{
		display: block;
	}
	.content{
		justify-content: center;
		margin-bottom: 150px;
	}
	.item:nth-child(2n){
		margin-left: 3px;
	}
}