@font-face {
    font-family: Raleway;
    src: url(fonts/raleway/Raleway-Regular.ttf);
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: Raleway;
    src: url(fonts/raleway/Raleway-Bold.ttf);
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: Raleway;
    src: url(fonts/raleway/Raleway-Light.ttf);
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: Raleway;
    src: url(fonts/raleway/Raleway-Black.ttf);
    font-style: normal;
    font-weight: 900;
}
@font-face {
    font-family: Raleway;
    src: url(fonts/raleway/Raleway-SemiBold.ttf);
    font-style: normal;
    font-weight: 600;
}
body{
	font-family: Raleway;
}
.video{
	display: none;
	position: relative;
	width: 100%;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}
iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.menu{
	background-color: #fff;
	position: fixed;
	height: 100vh;
	width: 78px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 1000;

}
.menu-wrapper{
	cursor: pointer;
	font-weight: 700;
	font-size: 11px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 45px;
	position: relative;
}
.menu-wrapper span{

	margin-top: 10px;
	color: #a3a3a3;
}
.menu-wrapper span:after{
	content: "";
	display: block;
	width: 100%;
	opacity: 0;
	height: 1px;
	transform: translateY(5px);
	background-color: #a3a3a3;
	transition: all 0.3s;
}
.menu-wrapper:hover span:after{
	transform: translateY(0);
	opacity: 0.8;
}

.vk, .insta{
	position: absolute;
	position: absolute;
	bottom: 100px;
	display: flex;
	justify-content: space-between;
	transform: rotate(-90deg);
	transform-origin: left top;
	display: flex;
	align-items: center;
}
.vk a, .insta a{
	font-weight: 600;
	font-size: 12px;
	color: #bdbdbd;
	text-decoration: none;
}
.vk a:hover, .insta a:hover{
	color: #aaa;
	font-weight: 700;
	//text-decoration: underline;
}
.vk img, .insta img{
	margin-right: 7px;
}
.vk {
	bottom: 133px;
	left: 27px;
}
.insta{
	bottom: 0px;
	left: 27px;
}
.first{
	background-image: url(img/main-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.logo-phone{
	display: flex;
	justify-content: space-between;
	padding: 40px 100px 0 130px ;
}
.phone{
	position:relative;
}
.phone span{
	color: #fff;
	font-size: 17px;
	font-weight: 900; 
}
.phone .backcall{
	cursor: pointer;
	font-size: 11px;
	font-weight: 600;
	float: right;
	margin-top: 10px;
	transition: all 0.3s;
}
.phone .backcall:hover{
	transform: scale(1.04);
}
.phone form{
	display: none;
	position: absolute;
	top: 60px;
	right: -20px;
}
.phone label{
	color: #fff;
	float: right;
}
.phone input{
	margin-top: 10px;
	border-radius: 3px;
	border:none;
	background-color: rgba(255,255,255,0.5);
	height: 30px;
	width: 200px;
}
.phone input:focus{
	background-color: rgba(255,255,255,0.8);
}
.phone button{
	height: 30px;
	margin-top: 20px;
	float: right;
	cursor: pointer;
	border-radius: 3px;
	border: 1px solid #777/*#272630*/;
	box-shadow: none;
	background-color: #464649;
	color: #ccc;
	//font-weight: 600;
}
.phone button:hover{
	background-color: #333;
}
button:active{
	box-shadow: inset -0px -0px 2px 0px #aaa;
}
.slogan{
	width: 855px;
	margin-left: 130px;
	margin-top: 120px;
}
.slogan span:nth-child(1){
	color:#1fbc78;
	font-size: 21px;
	font-weight: 800;
}
.slogan span:nth-of-type(2){
	display: inline-block;
	color:#fff;
	font-size: 56px;
	font-weight: 800;
	margin-top: 20px;
}
.benefits{
	display: flex;
	margin:125px 0 0 130px;
}
.benefits span{
	width: 253px;
	display: block;
	color: #fff;
	font-size: 15px;
	font-weight: 600;
	border-bottom: 2px solid #92918f;
	padding-bottom: 16px;
	margin-right: 49px;


}
.button{
	position: absolute;
	bottom: 0;
	right: 98px;
	width: 270px;
	height: 61px;
	background-color: #10e08b;
	color:#fff;
	font-size: 15px;
	font-weight: 600;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
}
.button {
    color: rgba(0, 0, 0, 0.2);
}
.button img{
	margin-right: 25px;
	transition: all 0.3s;
}
.button::before {
    content: attr(data-hover);
    position: absolute;
    left: 91px;
    color: #eee;
    transition: transform 0.3s, opacity 0.3s;
}
.button:hover img{
	opacity: 0.5;
}
.button:hover::before {
    transform: scale(0.9);
    opacity: 0;
}
.button:active{
	box-shadow: inset 0px 0px 1px 1px #000;
}
.wrapper{
	display: flex;
	justify-content: flex-start;
	margin-left: 78px;
}

.how-works{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url(img/jump.png);
	background-size: cover;
	height: 100vh;
	width: 49%;
	cursor: pointer;
}
.how-works img{
	width: 77px;
	height: auto;
	margin-bottom: 20px;
}
.how-works span{
	font-size: 15px;
	font-weight: 900;
	color: #fff;
}
.description{
	width: 40%;
	float: right;
	height: 100vh;
	margin-left: 45px;
}
.slogan-2{
	width: 90%;
}
.description span{
	display: inline-block;
}
.description span:nth-child(1){
	margin-top: 100px;
	font-size: 48px;
	font-weight: 700;
}
.description span:nth-of-type(2){
	margin-top: 46px;
	line-height: 31px;
	font-size: 21px;
	font-weight: 400;

}
.space-block{
	display: flex;
	margin-top: 107px;
}
.space-block div:nth-child(1){
	margin-right: 20px;
	margin-left: 15x
}
.space-block div{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 296px;
	height: 196px;
	background-color: #f2f2f2;
}
.space-block div img{
	margin-top: 30px;
	margin-bottom: 25px;
}
.space-block div span{
	font-size: 16px;
	font-weight: 400;
	text-align: center;

}
.third{
}

.how-it-was{
	margin-top: 70px;
	display:block;
	text-align: center;
	font-size: 48px;
	font-weight: 700;
	
}
.fun{
	width: 1058px;
	margin: 68px auto 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.fun:nth-of-type(2){
	margin-top: 120px;
	margin-bottom: 218px;
}
.gallery{
	width: 455px;
	height: 315px;
	position: relative;
}
.gallery img{
	width: 100%;
	height: auto;
	transition: all, 0.5s;
}

.toggles, .counter,.title{
	position: absolute;
}
.toggles{
	width: 80px;
	height: 59px;
	right: -40px;
	top: 0px;
}
.toggles span{
	cursor: pointer;
	text-align: center;
	line-height: 59px;
	font-weight: 600;
	margin:0;
	display: inline-block;
	width: 40px;
	height: 100%;
	background-color: #fff;
}
.toggles span:hover{
	background-color: #eee;
}
.counter{
	font-size: 13px;
	color: #b9b9b9;
	transform: rotate(-90deg);
	transform-origin: left top;
	top: 45px;
	left: -45px;
}
.counter span:nth-child(1){
	font-weight: 600;
}
.title{
	font-size: 11px;
	font-weight: 700;
	color: #b9b9b9;
	transform: rotate(-90deg);
	transform-origin: top right;
	right: -25px;
	bottom: 73px;
}
.gallery-description{
	margin: 12px auto 0 auto ;
	width: 265px;
	text-align: center;
	font-size: 18px;
	font-weight: 400;

}
.gallery-description span{
	color: #90edbf;
	font-weight: 600;
}
.text{
	width: 50%;
	text-align: center;
	font-size: 32px;
	font-weight: 100;
	color: #999999;
}
.text span{
	color: #90edbf;
}

.tz{
	height: 280px;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: #fff;
	font-size: 20px;
	background-color: #303030;
}

.fp-scroller, .iScrollIndicator{
	transition-duration: 0.5s!important;
	transition-timing-function: ease-in-out!important;
}
.fp-viewing-secondPage #fp-nav ul li span{
	background-color: #000;
}
.fp-viewing-thirdPage #fp-nav ul li span{
	display: none;
}
@media all and (max-width: 1350px) {
	.logo-phone{
		padding-top:20px; 
	}
	.slogan, .benefits{
		margin-top: 100px;
	}
	.space-block{
		margin-top: 60px;
	}
}
@media all and (max-width: 1024px){
	.slogan, .benefits{
		margin-top: 20px;
	}
	.slogan{
		width: 70%;
	}
	.slogan span:nth-of-type(2){
		font-size: 40px;
	}
	.benefits{
		flex-direction: column;
		margin-top: 10px;
	}
	.benefits span{
		padding-bottom: 5px;
	}
	.button{
		right: 20px;
		width: 250px;
		height: 50px;
	}
	.button::before {
    left: 81px;
	}
	.slogan-2 span:nth-child(1){
		font-size: 36px;
		margin-top: 50px;
	}
	.slogan-2 span:nth-of-type(2){
		margin-top: 20px;
	}
	.space-block{
		margin-top: 30px;
	}
	.how-it-was{
		font-size: 36px;
	}
	.fun{
		width: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;

	}
	.fun:nth-of-type(2){
		flex-direction: column-reverse;
		margin-top: 40px;
	}
	.gallery{
		margin: 0 0 50px 40px;
		height: auto;
	}
	.text{
		margin-left: 40px;
	}
	.wrapper{
		margin-left: 55px;
	}
	.menu{
		width: 55px;
	}
}
@media all and (max-width: 768px){
	.logo-phone img{
		width: 100px;
	}
	.phone span{
		font-size: 14px;
	}
	.phone span:nth-of-type(2){
		font-size: 10px;
	}
	.slogan{
		margin:20px 10px 10px 60px;
		width: 80%;
		text-align: center;
	}
	.slogan span:nth-child(1){
		font-size: 18px;
	}
	.slogan span:nth-of-type(2) {
    font-size:22px;
	}
	.benefits{
		margin: 40px 0 0 60px;
	}
	.benefits span {
		width: 190px;
	}
	.button{
		right: 30px;
	}
	.logo-phone{
		padding: 10px 10px 0px 60px;
	}
	.wrapper{
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
	}
	#fp-nav{
		display: none;
	}
	.how-works{
		height: 50vh;
		width: 100%;
	}
	 .description{
		width: 90%;
		margin-left: 10px;
	}
	
	.description span{
		text-align: center;
		font-size: 16px!important;
	}
	.slogan-2{
		text-align: center;
	}
	.slogan-2 span:nth-child(1){
		font-size: 25px;
		margin-top: 20px;
	}
	.slogan-2 span:nth-of-type(2){
		font-size: 20px;
		margin-top: 20px;
	}
	.space-block div{
		height: auto;
	}
	.how-it-was{
		font-size: 30px;
	}
	.fun{
		margin-top: 20px;
	}
	.gallery{
		width: 70%;
	}
	.toggles{
	width: 60px;
	height: 35px;
	right: -30px;
	}
	.toggles span{
		line-height: 35px;
		font-weight: 600;
		width: 30px;
	}
	.text{
		font-size: 24px;
		width: 70%;

	}
	.counter{
		left:-15px;
	}
	.tz{
		flex-direction: column;
	}
}
